<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ganbaru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ganbaru">
        <activity
            android:name=".phrase"
            android:exported="true" />
        <activity
            android:name=".word"
            android:exported="true" />
        <activity
            android:name=".animal"
            android:exported="true" />
        <activity
            android:name=".number"
            android:exported="true" />
        <activity
            android:name=".alphabet"
            android:exported="true" />
        <activity android:name=".registrationpage" />
        <activity android:name=".homepage" />
        <activity android:name=".loginpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>